# compiled output
**/dist
**/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependencies
**/package-lock.json

# Environment
**/.env

# Docker MongoDB non-commitable files
**/db/mongo/data/

# Docker Redis non-commitable files
**/redis/

# Private key for replica set
/users/db/replica-set.key
/vendors/db/replica-set.key

# Templates of mocked Bazaraki pages
mock-server/assets/**/*.html

# Redis service files
**/*.rdb

# Private key for replica set
/data-storage/mongodb/replica-set.key

# Docker volume for MongoDB files
/data-storage/mongodb/db/*
!/data-storage/mongodb/db/.gitkeep

# Python system files
**/__pycache__
