:host {
  display: flex;
  align-items: center;
  height: 100%;
}

.add-button {
  margin: 0 0 22px 0;
}

.removal-button-place {
  display: flex;
  height: 48px;
}

.removal-button {
  flex: 1 0 0;
}
