$mobile: 576px;
$tablet: 768px;
$wide-tablet: 992px;
$desktop: 1200px;

@mixin less-mobile() {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile() {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin wide-tablet() {
  @media (min-width: $wide-tablet) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $desktop) {
    @content;
  }
}
