.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  flex: 1;
  overflow: auto;
}

.spacer {
  flex: 1 1 auto;
}

.top-toolbar a {
  &:link { color: #fff; }
  &:visited { color: #fff; }
  &:hover { color: #fff; }
  &:active { color: #fff; }
}
