<div class="app-container">
  <mat-toolbar>
    <button mat-icon-button aria-label="Estate Index Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="site-name">Estate Index</span>
    <span class="spacer"></span>

    <button mat-icon-button (click)="toggleTheme()" [attr.aria-label]="(currentTheme$ | async) === 'dark' ? 'Switch to light theme' : 'Switch to dark theme'">
      <mat-icon>{{ (currentTheme$ | async) === 'dark' ? 'wb_sunny' : 'nights_stay' }}</mat-icon>
    </button>

  </mat-toolbar>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
