:root {
  /* Color palette: https://icolorpalette.com/111822_1e2b3d_314561_0b1735_122555 */

  --minimal-app-width: 480px;

  --color-bg-default: #111822;

  --color-typo-default: #fafafa;

  --color-inactive-ext-light: #b1c1d7;
  --color-inactive-light: #99aecb;
  --color-inactive: #819bbf;
  --color-inactive-dark: #6988b3;

  --color-primary-ext-light: #9db3ea;
  --color-primary-light: #6286de;
  --color-primary: #1e4093;
  --color-primary-dark: #122658;
  --color-primary-ext-dark: #0c193b;


  --color-secondary-ext-light: #b0c0d7;
  --color-secondary-light: #819bc0;
  --color-secondary: #3b5477;
  --color-secondary-dark: #233247;
  --color-secondary-ext-dark: #17212f;

  --not-found: #969696;
  --very-cheap: #08c545;
  --cheap: #62a806;
  --average-priced: #b6b601;
  --expensive: #c58008;
  --very-expensive: #c54108;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: var(--minimal-app-width);
  display: flex;
  flex-direction: column;
  background: var(--color-bg-default);
  color: var(--color-typo-default);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  transition: color .3s ease-out;
}

p {
  font-size: 16px;
  line-height: 22px;
}

h1 {
  font-size: 28px;
  line-height: 36px;
  margin: 0 0 18px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 16px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 12px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 12px;
}
