<form [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <mat-select formControlName="city">
      @for (cityDistrict of citiesDistrictsData; track cityDistrict.city) {
        <mat-option [value]="cityDistrict.city">{{cityDistrict.city}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <ei-multi-autocomplete
    [options]="(districtsOptions$ | async) ?? []"
    [maxSelectedItems]="maxDistrictItems"
    formControlName="districts"
  ></ei-multi-autocomplete>
</form>
