@import '../../styles/mixins/index';

.best-prices {
  position: relative;
  z-index: 0;

  margin: 0 auto;
  padding-bottom: var(--space-l);

  max-width: var(--mobile-width);
  height: 100%;

  @include mobile {
    max-width: var(--mobile-width);
  }

  @include tablet {
    max-width: var(--tablet-width);
  }

  @include wide-tablet {
    max-width: var(--wide-tablet-width);
  }

  @include desktop {
    max-width: var(--desktop-width);
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-m);

    @include tablet {
      grid-template-columns: 1fr 1fr;
      gap: var(--space-l);
    }

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
      gap: var(--space-l);
    }
  }
}
