.card-header {
  padding: 16px 16px 20px 16px;
}

.card-content {
}

.card-image {
  float: left;
  max-width: 350px;
  max-height: 200px;
  margin: 0 20px 12px 0;
}

.text-content {
}

.primary-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.clear {
  clear: both;
}

.primary-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .key {
    margin-right: 8px;
  }
}

.additional {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;

  & > span {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 14px 0;
  }

  .key {
    margin-right: 8px;
  }

  .value {
    text-transform: lowercase;
  }
}
