.serp-page {
  padding: 0 0 calc(var(--footer-panel-height) + var(--vertical-panel-gap)) 0;
}

.ei-paginator {
  z-index: 3;
}

::ng-deep .ei-paginator.mat-mdc-paginator {
  background-color: transparent;
}
