MODE=dev
MANAGER_SERVICE_HOST=pagination-scraper
MANAGER_SERVICE_PORT=4440
RUNNER_SERVICE_HOST=page-scraper
RUNNER_SERVICE_PORT=4441
BASE_URL=http://localhost:3000
MIN_DELAY=100
MAX_DELAY=200
URL_1=/real-estate-to-rent/apartments-flats/
URL_2=/real-estate-to-rent/houses/
TCP_TIMEOUT=3000
HTTP_GET_TIMEOUT=3000
MAX_REDIRECTS=5
CACHE_TTL=432000 # 5 days
CACHE_MAX_ITEMS=15000
CLEAR_CACHE=59 23,5,11,15,21 * * *
PAGINATION_SCRAPING_FULL=0 0,6,12,16,22 * * *
PAGINATION_SCRAPING_DEEP=1 8,14,20 * * *
PAGINATION_SCRAPING_MODERATE=2 9,15 * * *
PAGINATION_SCRAPING_SUPERFICIAL=3/10 6-11 * * *
PAGINATION_SCRAPING_SHALLOW=5/10 12-23 * * *
FIRST_RUN_DEPTH=5
DEPTH_FULL=0
DEPTH_DEEP=80
DEPTH_MODERATE=40
DEPTH_SUPERFICIAL=3
DEPTH_SHALLOW=1
