.search-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-form {
  max-width: 500px;
  min-height: 400px;
  margin: auto;
}

.mat-mdc-tab-group {
  max-width: 99.99%;
}

@media (min-width: 960px) {
  .mat-mdc-tab-body-content {
    min-width: 920px;
  }
}
