<div class="search-wrapper">
  <div class="search-form">
    <mat-tab-group
      mat-stretch-tabs="false"
      mat-align-tabs="center"
      animationDuration="0ms"
      (selectedIndexChange)="onTabIndexChange($event)"
      [(selectedIndex)]="activeTabIndex"
    >

      <!--  Tab RENT  -->
      <mat-tab label="Rent">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Main parameters</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="filter-set-wrapper main-filters">
              <div class="estate-type">
                <ei-field-top-label
                  [label]="'Type'"
                  [focused]="rentTypeFocused"
                ></ei-field-top-label>
                <mat-form-field>
                  <mat-label>Type</mat-label>
                  <mat-select
                    multiple
                    [formControl]="searchRentForm.controls.subcategory"
                    (focus)="onRentTypeFocus()"
                    (blur)="onRentTypeBlur()"
                  >
                    @for (category of rentLimits.categories; track $index) {
                      <mat-optgroup [label]="category.category">
                        @for (subcategory of category.subcategories; track $index) {
                          <mat-option [value]="subcategory">{{ subcategory }}</mat-option>
                        }
                      </mat-optgroup>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="bedrooms">
                <ei-field-top-label
                  [label]="'Bedrooms'"
                ></ei-field-top-label>
                <mat-button-toggle-group
                  multiple
                  aria-label="Bedrooms"
                  [formControl]="searchRentForm.controls.bedrooms"
                >
                  @for (bedroomNumber of rentLimits.limits.bedrooms; track $index) {
                    @if (bedroomNumber <= 4) {
                      <mat-button-toggle value="{{ bedroomNumber }}">{{ bedroomNumber }}</mat-button-toggle>
                    } @else if (bedroomNumber === 5) {
                      <mat-button-toggle value="{{ bedroomNumber }}+">{{ bedroomNumber }}+</mat-button-toggle>
                    }
                  }
                </mat-button-toggle-group>
              </div>
              <div class="bathrooms">
                <ei-field-top-label
                  [label]="'Bathrooms'"
                ></ei-field-top-label>
                <mat-button-toggle-group
                  multiple
                  aria-label="Bathrooms"
                  [formControl]="searchRentForm.controls.bathrooms"
                >
                  @for (bathroomNumber of rentLimits.limits.bathrooms; track $index) {
                    @if (bathroomNumber <= 3) {
                      <mat-button-toggle value="{{ bathroomNumber }}">{{ bathroomNumber }}</mat-button-toggle>
                    } @else if (bathroomNumber === 4) {
                      <mat-button-toggle value="{{ bathroomNumber }}+">{{ bathroomNumber }}+</mat-button-toggle>
                    }
                  }
                </mat-button-toggle-group>
              </div>
              <div class="city-districts">
                <ei-city-district-selector
                  cityFieldLabel="City"
                  districtFieldLabel="District"
                  districtFieldPlaceholder="Select district..."
                  [maxDistrictItems]="maxDistrictItems"
                  [citiesDistrictsData]="rentLimits.cities"
                  [formControl]="searchRentForm.controls.cityDistrict"
                ></ei-city-district-selector>
              </div>
              <div class="input-range price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Price'"
                  [range]="{ min: rentLimits.ranges.priceRange['min'], max: rentLimits.ranges.priceRange['max'] }"
                  [formControl]="searchRentForm.controls.price"
                ></ei-input-range>
              </div>
              <div class="input-range price-sqm-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Price m²/month'"
                  [range]="{ min: rentLimits.ranges.priceSqmRange['min'], max: rentLimits.ranges.priceSqmRange['max'] }"
                  [formControl]="searchRentForm.controls.priceSqm"
                ></ei-input-range>
              </div>
              <div class="input-range price-sqm-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Property area, m²'"
                  [range]="{ min: rentLimits.ranges.propertyAreaRange['min'], max: rentLimits.ranges.propertyAreaRange['max'] }"
                  [formControl]="searchRentForm.controls.propertyArea"
                ></ei-input-range>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <!--  RENT, Today, District  -->
        <mat-accordion class="median-mean-ranges-accordion" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Today's Price Filters, Relative to District
              </mat-panel-title>
              <mat-panel-description>
                <span>
                  Analyze properties based on today's average and median prices within districts.
                </span>
                <mat-icon>filter_list</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>Example: Select properties within 50-90% of district price range to potentially save significantly over a year.</p>
            <div class="filter-set-wrapper">
              <div class="input-range median-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Median abs. price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchRentForm.controls['priceDeviations-district_avg_mean-daily_total-medianDelta']"
                ></ei-input-range>
              </div>

              <div class="input-range mean-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Mean abs. price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchRentForm.controls['priceDeviations-district_avg_mean-daily_total-meanDelta']"
                ></ei-input-range>
              </div>

              <div class="input-range median-sqm-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Median m² price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchRentForm.controls['priceDeviations-district_avg_mean-daily_total-medianDeltaSqm']"
                ></ei-input-range>
              </div>

              <div class="input-range mean-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Mean m² price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchRentForm.controls['priceDeviations-district_avg_mean-daily_total-meanDeltaSqm']"
                ></ei-input-range>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
        <!--  End of RENT, Today, District  -->

        <!--  RENT, This Month, District  -->
        <mat-accordion class="median-mean-ranges-accordion" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                This Month's Price Filters, Relative to District
              </mat-panel-title>
              <mat-panel-description>
                <span>
                  Compare properties using this month's average and median prices across districts.
                </span>
                <mat-icon>filter_list</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>Example: Monthly data can provide a broader view than daily, capturing trends and smoothing out daily fluctuations. Select properties within 50-90% of the monthly district price range to find consistent value over time.</p>
            <div class="filter-set-wrapper">
              <div class="input-range median-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Median abs. price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchRentForm.controls['priceDeviations-district_avg_mean-monthly_intermediary-medianDelta']"
                ></ei-input-range>
              </div>

              <div class="input-range mean-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Mean abs. price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchRentForm.controls['priceDeviations-district_avg_mean-monthly_intermediary-meanDelta']"
                ></ei-input-range>
              </div>

              <div class="input-range median-sqm-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Median m² price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchRentForm.controls['priceDeviations-district_avg_mean-monthly_intermediary-medianDeltaSqm']"
                ></ei-input-range>
              </div>

              <div class="input-range mean-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Mean m² price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchRentForm.controls['priceDeviations-district_avg_mean-monthly_intermediary-meanDeltaSqm']"
                ></ei-input-range>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
        <!--  End of RENT, This Month, District  -->

        <!--  RENT, Today, City  -->
        <mat-accordion class="median-mean-ranges-accordion" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Today's City-Wide Price Filters
              </mat-panel-title>
              <mat-panel-description>
                <span>
                  Analyze city-wide properties based on today's average and median prices.
                </span>
                <mat-icon>filter_list</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>Properties without a specified district contribute to the city-wide average and median price calculations but are not included in district-level evaluations. This allows for a comprehensive city-wide market overview, enhancing your ability to spot under- or over-valued properties based on city averages.</p>
            <div class="filter-set-wrapper">
              <div class="input-range median-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Median abs. price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchRentForm.controls['priceDeviations-city_avg_mean-daily_total-medianDelta']"
                ></ei-input-range>
              </div>

              <div class="input-range mean-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Mean abs. price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchRentForm.controls['priceDeviations-city_avg_mean-daily_total-meanDelta']"
                ></ei-input-range>
              </div>

              <div class="input-range median-sqm-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Median m² price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchRentForm.controls['priceDeviations-city_avg_mean-daily_total-medianDeltaSqm']"
                ></ei-input-range>
              </div>

              <div class="input-range mean-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Mean m² price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchRentForm.controls['priceDeviations-city_avg_mean-daily_total-meanDeltaSqm']"
                ></ei-input-range>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
        <!--  End of RENT, Today, City  -->

        <!--  RENT, This Month, District  -->
        <mat-accordion class="median-mean-ranges-accordion" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                This Month's City-Wide Price Filters
              </mat-panel-title>
              <mat-panel-description>
                <span>
                  Analyze the city's property market with this month's average and median prices.
                </span>
                <mat-icon>filter_list</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>Utilizing current month's data allows for a comprehensive analysis that accounts for short-term market shifts, providing a more stable basis for comparison than daily data. By selecting properties within 50-90% of the city-wide price range, you can uncover properties priced within a more typical range for the city, potentially identifying both bargains and premium offerings.</p>
            <div class="filter-set-wrapper">
              <div class="input-range median-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Median abs. price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchRentForm.controls['priceDeviations-city_avg_mean-monthly_intermediary-medianDelta']"
                ></ei-input-range>
              </div>

              <div class="input-range mean-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Mean abs. price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchRentForm.controls['priceDeviations-city_avg_mean-monthly_intermediary-meanDelta']"
                ></ei-input-range>
              </div>

              <div class="input-range median-sqm-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Median m² price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchRentForm.controls['priceDeviations-city_avg_mean-monthly_intermediary-medianDeltaSqm']"
                ></ei-input-range>
              </div>

              <div class="input-range mean-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Mean m² price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchRentForm.controls['priceDeviations-city_avg_mean-monthly_intermediary-meanDeltaSqm']"
                ></ei-input-range>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
        <!--  End of RENT, This Month, District  -->

      </mat-tab>
      <!--  End of Tab RENT  -->


      <!--  Tab SALE  -->
      <mat-tab label="Sale">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Main parameters</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="filter-set-wrapper main-filters">
              <div class="estate-type">
                <ei-field-top-label
                  [label]="'Type'"
                  [focused]="saleTypeFocused"
                ></ei-field-top-label>
                <mat-form-field>
                  <mat-label>Type</mat-label>
                  <mat-select
                    multiple
                    [formControl]="searchSaleForm.controls.subcategory"
                    (focus)="onSaleTypeFocus()"
                    (blur)="onSaleTypeBlur()"
                  >
                    @for (category of saleLimits.categories; track $index) {
                      <mat-optgroup [label]="category.category">
                        @for (subcategory of category.subcategories; track $index) {
                          <mat-option [value]="subcategory">{{ subcategory }}</mat-option>
                        }
                      </mat-optgroup>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="bedrooms">
                <ei-field-top-label
                  [label]="'Bedrooms'"
                ></ei-field-top-label>
                <mat-button-toggle-group
                  multiple
                  aria-label="Bedrooms"
                  [formControl]="searchSaleForm.controls.bedrooms"
                >
                  @for (bedroomNumber of saleLimits.limits.bedrooms; track $index) {
                    @if (bedroomNumber <= 4) {
                      <mat-button-toggle value="{{ bedroomNumber }}">{{ bedroomNumber }}</mat-button-toggle>
                    } @else if (bedroomNumber === 5) {
                      <mat-button-toggle value="{{ bedroomNumber }}+">{{ bedroomNumber }}+</mat-button-toggle>
                    }
                  }
                </mat-button-toggle-group>
              </div>
              <div class="bathrooms">
                <ei-field-top-label
                  [label]="'Bathrooms'"
                ></ei-field-top-label>
                <mat-button-toggle-group
                  multiple
                  aria-label="Bathrooms"
                  [formControl]="searchSaleForm.controls.bathrooms"
                >
                  @for (bathroomNumber of saleLimits.limits.bathrooms; track $index) {
                    @if (bathroomNumber <= 3) {
                      <mat-button-toggle value="{{ bathroomNumber }}">{{ bathroomNumber }}</mat-button-toggle>
                    } @else if (bathroomNumber === 4) {
                      <mat-button-toggle value="{{ bathroomNumber }}+">{{ bathroomNumber }}+</mat-button-toggle>
                    }
                  }
                </mat-button-toggle-group>
              </div>
              <div class="city-districts">
                <ei-city-district-selector
                  [maxDistrictItems]="maxDistrictItems"
                  [citiesDistrictsData]="saleLimits.cities"
                  [formControl]="searchSaleForm.controls.cityDistrict"
                ></ei-city-district-selector>
              </div>
              <div class="input-range price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Price'"
                  [range]="{ min: saleLimits.ranges.priceRange.min, max: saleLimits.ranges.priceRange.max }"
                  [formControl]="searchSaleForm.controls.price"
                ></ei-input-range>
              </div>
              <div class="input-range price-sqm-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Price m²'"
                  [range]="{ min: saleLimits.ranges.priceSqmRange['min'], max: saleLimits.ranges.priceSqmRange['max'] }"
                  [formControl]="searchSaleForm.controls.priceSqm"
                ></ei-input-range>
              </div>
              <div class="input-range price-sqm-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Property area, m²'"
                  [range]="{ min: saleLimits.ranges.propertyAreaRange['min'], max: saleLimits.ranges.propertyAreaRange['max'] }"
                  [formControl]="searchSaleForm.controls.propertyArea"
                ></ei-input-range>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <!--  SALE, Today, District  -->
        <mat-accordion class="median-mean-ranges-accordion" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Today's Price Filters, Relative to District
              </mat-panel-title>
              <mat-panel-description>
                <span>
                  Analyze properties based on today's average and median prices within districts.
                </span>
                <mat-icon>filter_list</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>Example: Select properties within 50-90% of district price range to potentially save significantly over a year.</p>
            <div class="filter-set-wrapper">
              <div class="input-range median-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Median abs. price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchSaleForm.controls['priceDeviations-district_avg_mean-daily_total-medianDelta']"
                ></ei-input-range>
              </div>

              <div class="input-range mean-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Mean abs. price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchSaleForm.controls['priceDeviations-district_avg_mean-daily_total-meanDelta']"
                ></ei-input-range>
              </div>

              <div class="input-range median-sqm-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Median m² price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchSaleForm.controls['priceDeviations-district_avg_mean-daily_total-medianDeltaSqm']"
                ></ei-input-range>
              </div>

              <div class="input-range mean-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Mean m² price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchSaleForm.controls['priceDeviations-district_avg_mean-daily_total-meanDeltaSqm']"
                ></ei-input-range>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
        <!--  End of SALE, Today, District  -->

        <!--  SALE, This Month, District  -->
        <mat-accordion class="median-mean-ranges-accordion" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                This Month's Price Filters, Relative to District
              </mat-panel-title>
              <mat-panel-description>
                <span>
                  Compare properties using this month's average and median prices across districts.
                </span>
                <mat-icon>filter_list</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>Example: Monthly data can provide a broader view than daily, capturing trends and smoothing out daily fluctuations. Select properties within 50-90% of the monthly district price range to find consistent value over time.</p>
            <div class="filter-set-wrapper">
              <div class="input-range median-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Median abs. price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchSaleForm.controls['priceDeviations-district_avg_mean-monthly_intermediary-medianDelta']"
                ></ei-input-range>
              </div>

              <div class="input-range mean-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Mean abs. price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchSaleForm.controls['priceDeviations-district_avg_mean-monthly_intermediary-meanDelta']"
                ></ei-input-range>
              </div>

              <div class="input-range median-sqm-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Median m² price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchSaleForm.controls['priceDeviations-district_avg_mean-monthly_intermediary-medianDeltaSqm']"
                ></ei-input-range>
              </div>

              <div class="input-range mean-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Mean m² price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchSaleForm.controls['priceDeviations-district_avg_mean-monthly_intermediary-meanDeltaSqm']"
                ></ei-input-range>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
        <!--  End of SALE, This Month, District  -->

        <!--  SALE, Today, City  -->
        <mat-accordion class="median-mean-ranges-accordion" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Today's City-Wide Price Filters
              </mat-panel-title>
              <mat-panel-description>
                <span>
                  Analyze city-wide properties based on today's average and median prices.
                </span>
                <mat-icon>filter_list</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>Properties without a specified district contribute to the city-wide average and median price calculations but are not included in district-level evaluations. This allows for a comprehensive city-wide market overview, enhancing your ability to spot under- or over-valued properties based on city averages.</p>
            <div class="filter-set-wrapper">
              <div class="input-range median-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Median abs. price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchSaleForm.controls['priceDeviations-city_avg_mean-daily_total-medianDelta']"
                ></ei-input-range>
              </div>

              <div class="input-range mean-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Mean abs. price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchSaleForm.controls['priceDeviations-city_avg_mean-daily_total-meanDelta']"
                ></ei-input-range>
              </div>

              <div class="input-range median-sqm-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Median m² price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchSaleForm.controls['priceDeviations-city_avg_mean-daily_total-medianDeltaSqm']"
                ></ei-input-range>
              </div>

              <div class="input-range mean-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Mean m² price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchSaleForm.controls['priceDeviations-city_avg_mean-daily_total-meanDeltaSqm']"
                ></ei-input-range>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
        <!--  End of SALE, Today, City  -->

        <!--  SALE, This Month, District  -->
        <mat-accordion class="median-mean-ranges-accordion" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                This Month's City-Wide Price Filters
              </mat-panel-title>
              <mat-panel-description>
                <span>
                  Analyze the city's property market with this month's average and median prices.
                </span>
                <mat-icon>filter_list</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>Utilizing current month's data allows for a comprehensive analysis that accounts for short-term market shifts, providing a more stable basis for comparison than daily data. By selecting properties within 50-90% of the city-wide price range, you can uncover properties priced within a more typical range for the city, potentially identifying both bargains and premium offerings.</p>
            <div class="filter-set-wrapper">
              <div class="input-range median-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Median abs. price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchSaleForm.controls['priceDeviations-city_avg_mean-monthly_intermediary-medianDelta']"
                ></ei-input-range>
              </div>

              <div class="input-range mean-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Mean abs. price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchSaleForm.controls['priceDeviations-city_avg_mean-monthly_intermediary-meanDelta']"
                ></ei-input-range>
              </div>

              <div class="input-range median-sqm-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Median m² price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchSaleForm.controls['priceDeviations-city_avg_mean-monthly_intermediary-medianDeltaSqm']"
                ></ei-input-range>
              </div>

              <div class="input-range mean-absolute-price-range">
                <ei-input-range
                  ngDefaultControl
                  [label]="'Mean m² price, %'"
                  [range]="{ min: 0, max: 600 }"
                  [formControl]="searchSaleForm.controls['priceDeviations-city_avg_mean-monthly_intermediary-meanDeltaSqm']"
                ></ei-input-range>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
        <!--  End of SALE, This Month, District  -->

      </mat-tab>
      <!--  End of Tab SALE  -->

    </mat-tab-group>
  </div>
</div>
