.search-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-form {
  max-width: 500px;
  min-height: 400px;
  margin: auto;
}

.mat-mdc-tab-group {
  max-width: 99.99%;
}

.tab-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 18px;
  padding: 18px 0;

  & > * {
    flex: 1 1 0;
  }
}

.price-range {
  max-width: 300px;
}

@media (min-width: 960px) {
  .search-form {
    min-width: 920px;
  }
}
