@import '../../../../../../styles/mixins/index';

.estate-object-card-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  font: 14px / 26px var(--default-font-family);
  align-self: self-end;

  @include tablet {
    justify-content: space-between;
    gap: 8px;

    font: 14px / 18px var(--default-font-family);
  }

  &__link {
    width: auto;

    &:last-child {
      margin-right: 0;
    }
  }
}
