@import './styles/mixins/index';
@import './styles/overrides';
@import './styles/class-helpers';

:root {
  --minimal-app-width: 480px;
  --mobile-width: 576px;
  --tablet-width: 768px;
  --wide-tablet-width: 992px;
  --desktop-width: 1200px;
  --bookmark-width-xs: 52px;
  --bookmark-height-xs: 34px;
  --bookmark-width-s: 68px;
  --bookmark-height-s: 48px;
  --bookmark-width-m: 52px;
  --bookmark-height-m: 34px;

  /** Background **/
  --color-bg-default: #22272b;

  /** Spacing **/
  --space-3xs: 2px;
  --space-2xs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-2xl: 32px;
  --space-3xl: 40px;
  --space-4xl: 48px;
  --space-5xl: 72px;
  --space-6xl: 96px;

  /** Controls **/
  --control-radius: 4px;
  --control-border-width: 1px;

  /** Font **/
  --color-bg-border: hsla(0deg, 0%, 100%, 20%);
  --color-typo-primary: #fafafa;
  --default-font-family: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
    oxygen, ubuntu, cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  /** Border **/
  --border-radius: var(--control-radius);
  --not-found: #969696;
  --very-cheap: #08c545;
  --cheap: #62a806;
  --average-priced: #b6b601;
  --expensive: #c58008;
  --very-expensive: #c54108;
}

.icon {
  display: block;

  width: 24px;
  height: 24px;
}

.color {
  &-very-cheap {
    color: var(--very-cheap);
  }

  &-cheap {
    color: var(--cheap);
  }

  &-average {
    color: var(--average-priced);
  }

  &-expensive {
    color: var(--expensive);
  }

  &-very-expensive {
    color: var(--very-expensive);
  }
}

.m {
  &t {
    &-s {
      margin-top: var(--space-s);
    }

    &-m {
      margin-top: var(--space-m);
    }
  }

  &b {
    &-s {
      margin-bottom: var(--space-s);
    }

    &-m {
      margin-bottom: var(--space-m);
    }

    &-l {
      margin-bottom: var(--space-l);
    }
  }
}

.p {
  &b {
    &-l {
      padding-bottom: var(--space-l);
    }
  }
}
