.container {
  padding: 0 var(--space-s);

  @include tablet {
    padding: 0 var(--space-m);
  }

  @include desktop {
    margin: 0 auto;

    max-width: 1500px;
  }
}

.vertical-container {
  margin-bottom: var(--space-s);

  @include tablet {
    margin-bottom: var(--space-m);
  }

  @include desktop {
    margin-bottom: var(--space-l);
  }
}

.align-self {
  &-end {
    align-self: flex-end;
  }
}

.white-space {
  &_pre-line {
    white-space: pre-line;
  }
}

.c-pointer {
  cursor: pointer;
}

.p-relative {
  position: relative;
}

.h-100 {
  height: 100%;
}

.icon-m {
  width: 24px;
  height: 24px;
}

.flex-default {
  display: flex;
  align-items: center;
}

.flex-end {
  display: flex;
  align-items: end;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-s {
  gap: var(--space-s);
}

.inline {
  display: inline-block;
}
