* {
  box-sizing: border-box;
}

html, body, #root, main {
  height: 100%;
  background-color: var(--color-bg-default);
}

body {
  /* Copied from browser, it's non-mandatory styles */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* End of copied styles */

  min-width: var(--minimal-app-width);
  color: var(--color-typo-primary);
}

a:link {
  color: var(--color-typo-primary);
}

a:visited {
  color: var(--color-typo-primary);
}

a:hover {
  color: var(--color-typo-primary);
}

a:active {
  color: var(--color-typo-primary);
}

h1 {
  font: bold 24px / 36px var(--default-font-family);
  margin: 0 0 18px 0;
}

h2 {
  font: bold 20px / 30px var(--default-font-family);
  margin: 0 0 15px 0;
}

h3 {
  font: bold 18px / 24px var(--default-font-family);
  margin: 0 0 12px 0;
}

h4 {
  font: bold 16px / 24px var(--default-font-family);
  margin: 0 0 12px 0;
}
